:host {
  font-family: "Helvetica", sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #C6C6C6;
  border: 4px solid white;
  border-right-color: dimgray;
  border-bottom-color: dimgray;

  &.revealed {
    border: none;
    border-top: 1px solid dimgray;
    border-left: 1px solid dimgray;
    width: 27px;
    height: 27px;
  }
  &.revealed.top-edge {
    border-top: none;
    height: 28px;
  }
  &.revealed.left-edge {
    border-left: none;
    width: 28px;
  }
  &.one-mine {
    color: blue;
  }
  &.two-mines {
    color: green;
  }
  &.three-mines {
    color: red
  }
  &.four-mines {
    color: darkblue;
  }
  &.five-mines {
    color: darkred;
  }
  &.six-mines {
    color: teal;
  }
  &.seven-mines {
    color: black;
  }
  &.eight-mines {
    color: gray;
  }
  &.flagged {
    font-size: smaller;
  }
  &.hit {
    background-color: red;
  }
  &.hit:before, &.hit:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #aaa;
  }
  &.hit:before {
    transform: rotate(45deg);
  }
  &.hit:after {
    transform: rotate(-45deg);
  }
}
